@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Titillium+Web:wght@300;700&display=swap');

$font-stack: 'Titillium Web', 'Noto Sans KR', sans-serif;

// Color
$--skyblue-dark-color: #4ca2db;
$--skyblue-light-color: #e8f5fd;
$--skyblue-grayish-color: #98b7cc;
$--gray-dark-color: #252525;
$--gray-light-color: #dadada;
