@import '_base.scss';

ul,
li {
  list-style: none;
  margin: 0;
}

.task__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .task__list {
    width: 80%;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 10px;

    .task__item {
      line-height: 3rem;
      position: relative;

      .task__done {
        margin-right: 10px;

        &:checked ~ span {
          color: $--gray-light-color;
        }
      }

      button {
        position: absolute;
        right: 0;
        font-size: 1rem;
        height: 100%;
        color: $--skyblue-dark-color;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }

      .task__menu {
        display: none;
        position: absolute;
        right: -20px;
        top: 40px;
        padding: 10px 0;
        background-color: $--skyblue-dark-color;
        color: white;

        &.show {
          display: block;
          z-index: 9999;
        }

        &::after {
          bottom: 100%;
          transform: translate(-1px, 3px);
          left: 85px;
          border: solid transparent;
          content: ' ';
          position: absolute;
          border-bottom-color: $--skyblue-dark-color;
          border-width: 11px;
        }

        ul {
          padding: 0;
          font-size: 1rem;
          line-height: 1.5rem;

          li {
            cursor: pointer;
            padding: 0 10px;

            i {
              font-size: 13px;
              padding-right: 3px;
            }
          }

          li:hover {
            background-color: rgba($color: #ffffff, $alpha: 0.4);
          }
        }
      }
    }
  }
}
