@import '_base.scss';

ul,
li {
  list-style: none;
  margin: 0;
}

button {
  font-size: 1rem;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.task__wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .task__list {
    width: 80%;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 0 10px;

    .task__item {
      line-height: 3rem;
      position: relative;
      display: flex;
      align-items: center;
      padding: 5px 0;

      .task__check {
        margin-right: 10px;
        width: 32px;
        height: 32px;
        line-height: 30px;
        border-radius: 16px;
        border: 1px solid $--gray-light-color;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.done {
          border: 1px solid $--skyblue-dark-color;
          color: $--skyblue-dark-color;
        }

        &.done ~ span {
          color: $--skyblue-grayish-color;
        }
      }

      .task__menu__btn {
        position: absolute;
        right: 0;
        color: $--skyblue-dark-color;
      }

      .task__menu {
        display: none;
        position: absolute;
        right: -20px;
        top: 40px;
        padding: 10px 0;
        background-color: $--skyblue-dark-color;
        color: white;

        &.show {
          display: block;
          z-index: 9999;
        }

        &::after {
          bottom: 100%;
          transform: translate(-1px, 3px);
          left: 85px;
          border: solid transparent;
          content: ' ';
          position: absolute;
          border-bottom-color: $--skyblue-dark-color;
          border-width: 11px;
        }

        ul {
          padding: 0;
          font-size: 1rem;
          line-height: 1.5rem;

          li {
            cursor: pointer;
            padding: 0 10px;

            button {
              padding: 0;
              color: white;
              font-family: inherit;
              i {
                font-size: 13px;
                padding-right: 3px;
              }
            }
          }

          li:hover {
            background-color: rgba($color: #ffffff, $alpha: 0.4);
          }
        }
      }
    }
  }
}
