@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;700&display=swap");
body { font: 100% "Titillium Web", sans-serif; background-color: #252525; width: 100%; margin: 0; }

#root { width: 100%; display: flex; justify-content: center; align-items: center; }

.wrap { width: 50%; margin-top: 3rem; background-color: #d7ebf8; border: 3px solid #4ca2db; border-radius: 10px; }
