@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Titillium+Web:wght@300;700&display=swap");
body { font: 100% "Titillium Web", "Noto Sans KR", sans-serif; background-color: #252525; width: 100%; margin: 0; }

#root { width: 100%; display: flex; justify-content: center; align-items: center; }

.wrap { width: 50%; margin-top: 3rem; background-color: #e8f5fd; border-radius: 5px; }
